# Part 3: Data Analytics

## Facebook Data Set

I have chosen to focus my Data Analytics section of the coursework on the stocks between 2012 and 2018 of Facebook. I thought that choosing Facebook is quite timely with its recent name changed to Meta. Further, Facebook has been a pioneer in the evolution of Financial Technology, Artificial Intelligence, and Machine Learning, therefore it is a topical choice given my MSc. The link the the kaggle site where I found this dataset is URL:https://www.kaggle.com/esther42/facebook-stocks-2012-to-2018.

In [3]:
!pip install pandas --upgrade --quiet

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('fb.csv')
df.head(1645)

,Unnamed: 0,Open,High,Low,Close,Adj Close,Volume,ReturnsRawPrev1,ReturnsRawPrev5,ReturnsRawPrev10,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,0,27.200001,27.650000,26.440001,26.900000,26.900000,35230300,-0.029581,-0.157004,-0.296364,...,4,0,156,False,False,False,False,False,False,1338768000
1,1,26.700001,27.760000,25.750000,25.870001,25.870001,42473400,-0.038290,-0.102982,-0.239788,...,5,1,157,False,False,False,False,False,False,1338854400
2,2,26.070000,27.170000,25.520000,26.809999,26.809999,61489200,0.036335,-0.048954,-0.135161,...,6,2,158,False,False,False,False,False,False,1338940800
3,3,27.000000,27.350000,26.150000,26.309999,26.309999,26159500,-0.018650,-0.111149,-0.177813,...,7,3,159,False,False,False,False,False,False,1339027200
4,4,26.549999,27.760000,26.440001,27.100000,27.100000,38034000,0.030027,-0.022366,-0.179534,...,8,4,160,False,False,False,False,False,False,1339113600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1640,1640,139.600006,143.050003,139.009995,141.850006,141.850006,26422200,0.032237,0.008819,0.076824,...,10,0,344,False,False,False,False,False,False,1544400000
1641,1641,143.880005,143.880005,141.100006,142.080002,142.080002,20300300,0.001621,0.007017,0.041795,...,11,1,345,False,False,False,False,False,False,1544486400
1642,1642,143.080002,147.190002,142.509995,144.500000,144.500000,23696900,0.017033,0.047633,0.070370,...,12,2,346,False,False,False,False,False,False,1544572800
1643,1643,145.570007,145.850006,143.190002,145.009995,145.009995,18148600,0.003529,0.038530,0.060325,...,13,3,347,False,False,False,False,False,False,1544659200
1644,1644,143.339996,146.009995,142.509995,144.059998,144.059998,21785800,-0.006551,0.048319,0.038794,...,14,4,348,False,False,False,False,False,False,1544745600

In [5]:
len(df) #number of rows

1645

In [6]:
len(df.columns) #number of columns

26

In [8]:
(df.max() - df.min()).idxmax() #maximum column

'Volume'

In [9]:
(df.max() - df.min()).idxmin() #minimum column

'Is_year_start'

In [5]:
df.describe

<bound method NDFrame.describe of       Unnamed: 0        Open        High         Low       Close   Adj Close  \
0              0   27.200001   27.650000   26.440001   26.900000   26.900000
1              1   26.700001   27.760000   25.750000   25.870001   25.870001
2              2   26.070000   27.170000   25.520000   26.809999   26.809999
3              3   27.000000   27.350000   26.150000   26.309999   26.309999
4              4   26.549999   27.760000   26.440001   27.100000   27.100000
...          ...         ...         ...         ...         ...         ...
1640        1640  139.600006  143.050003  139.009995  141.850006  141.850006
1641        1641  143.880005  143.880005  141.100006  142.080002  142.080002
1642        1642  143.080002  147.190002  142.509995  144.500000  144.500000
1643        1643  145.570007  145.850006  143.190002  145.009995  145.009995
1644        1644  143.339996  146.009995  142.509995  144.059998  144.059998

        Volume  ReturnsRawPrev1  ReturnsRawPrev5  ReturnsRawPrev10  ...  Day  \
0     35230300        -0.029581        -0.157004         -0.296364  ...    4
1     42473400        -0.038290        -0.102982         -0.239788  ...    5
2     61489200         0.036335        -0.048954         -0.135161  ...    6
3     26159500        -0.018650        -0.111149         -0.177813  ...    7
4     38034000         0.030027        -0.022366         -0.179534  ...    8
...        ...              ...              ...               ...  ...  ...
1640  26422200         0.032237         0.008819          0.076824  ...   10
1641  20300300         0.001621         0.007017          0.041795  ...   11
1642  23696900         0.017033         0.047633          0.070370  ...   12
1643  18148600         0.003529         0.038530          0.060325  ...   13
1644  21785800        -0.006551         0.048319          0.038794  ...   14

      Dayofweek  Dayofyear  Is_month_end  Is_month_start  Is_quarter_end  \
0             0        156         False           False           False
1             1        157         False           False           False
2             2        158         False           False           False
3             3        159         False           False           False
4             4        160         False           False           False
...         ...        ...           ...             ...             ...
1640          0        344         False           False           False
1641          1        345         False           False           False
1642          2        346         False           False           False
1643          3        347         False           False           False
1644          4        348         False           False           False

      Is_quarter_start  Is_year_end  Is_year_start     Elapsed
0                False        False          False  1338768000
1                False        False          False  1338854400
2                False        False          False  1338940800
3                False        False          False  1339027200
4                False        False          False  1339113600
...                ...          ...            ...         ...
1640             False        False          False  1544400000
1641             False        False          False  1544486400
1642             False        False          False  1544572800
1643             False        False          False  1544659200
1644             False        False          False  1544745600

[1645 rows x 26 columns]>

In [6]:
df.head(10)

,Unnamed: 0,Open,High,Low,Close,Adj Close,Volume,ReturnsRawPrev1,ReturnsRawPrev5,ReturnsRawPrev10,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,0,27.200001,27.65,26.440001,26.900000,26.900000,35230300,-0.029581,-0.157004,-0.296364,...,4,0,156,False,False,False,False,False,False,1338768000
1,1,26.700001,27.76,25.750000,25.870001,25.870001,42473400,-0.038290,-0.102982,-0.239788,...,5,1,157,False,False,False,False,False,False,1338854400
2,2,26.070000,27.17,25.520000,26.809999,26.809999,61489200,0.036335,-0.048954,-0.135161,...,6,2,158,False,False,False,False,False,False,1338940800
3,3,27.000000,27.35,26.150000,26.309999,26.309999,26159500,-0.018650,-0.111149,-0.177813,...,7,3,159,False,False,False,False,False,False,1339027200
4,4,26.549999,27.76,26.440001,27.100000,27.100000,38034000,0.030027,-0.022366,-0.179534,...,8,4,160,False,False,False,False,False,False,1339113600
5,5,27.180000,28.07,26.840000,27.010000,27.010000,28219600,-0.003321,0.004089,-0.153557,...,11,0,163,False,False,False,False,False,False,1339372800
6,6,27.480000,27.77,26.959999,27.400000,27.400000,15816800,0.014439,0.059142,-0.049931,...,12,1,164,False,False,False,False,False,False,1339459200
7,7,27.660000,28.10,27.100000,27.270000,27.270000,17102800,-0.004745,0.017158,-0.032636,...,13,2,165,False,False,False,False,False,False,1339545600
8,8,27.650000,28.32,27.379999,28.290001,28.290001,16855000,0.037404,0.075257,-0.044257,...,14,3,166,False,False,False,False,False,False,1339632000
9,9,28.510000,30.10,28.350000,30.010000,30.010000,43563800,0.060799,0.107380,0.082612,...,15,4,167,False,False,False,False,False,False,1339718400

In [7]:
df.tail()

,Unnamed: 0,Open,High,Low,Close,Adj Close,Volume,ReturnsRawPrev1,ReturnsRawPrev5,ReturnsRawPrev10,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
1640,1640,139.600006,143.050003,139.009995,141.850006,141.850006,26422200,0.032237,0.008819,0.076824,...,10,0,344,False,False,False,False,False,False,1544400000
1641,1641,143.880005,143.880005,141.100006,142.080002,142.080002,20300300,0.001621,0.007017,0.041795,...,11,1,345,False,False,False,False,False,False,1544486400
1642,1642,143.080002,147.190002,142.509995,144.500000,144.500000,23696900,0.017033,0.047633,0.070370,...,12,2,346,False,False,False,False,False,False,1544572800
1643,1643,145.570007,145.850006,143.190002,145.009995,145.009995,18148600,0.003529,0.038530,0.060325,...,13,3,347,False,False,False,False,False,False,1544659200
1644,1644,143.339996,146.009995,142.509995,144.059998,144.059998,21785800,-0.006551,0.048319,0.038794,...,14,4,348,False,False,False,False,False,False,1544745600

In [12]:
df= pd.DataFrame(np.random.randn(10,5),columns=['Open','High','Low','Close','Adj Close'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
Open         10 non-null float64
High         10 non-null float64
Low          10 non-null float64
Close        10 non-null float64
Adj Close    10 non-null float64
dtypes: float64(5)
memory usage: 528.0 bytes